
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-container" id="page-container">
    <div class="page-title padding pb-0 ">
        <h2 class="text-md mb-0">Dashboard</h2>
    </div>
    <div class="padding">
        <div class="row row-sm">
            <div class="col-md-12 col-lg-4 col-xl-3">
                <div class="row row-sm">
                    <div class="col-lg-12 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-4">
                                    <sup class="text-muted">$</sup>
                                    <span class="h3" data-plugin="countTo" data-option="{
								from: 50,
							    to: 2350,
							    refreshInterval: 10,
							    formatter: function (value, options) {
							      return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
							    }
							    }"></span>
                                    <div class="text-muted mt-2 text-sm">Your current balance</div>
                                    <div>
                                        <span class="text-success">+ 20%</span>
                                        <span class="text-muted">($520)</span>
                                    </div>
                                </div>
                                <button class="btn btn-sm w-100 btn-rounded btn-danger text-align-auto i-con-h-a mb-2">
                                    <i class="i-con i-con-arrow-right float-right"><i></i></i>
                                    Add Credit
                                </button>
                            </div>
                            <div class="card-body b-t">
                                <div class="row no-gutters">
                                    <div class="col">
                                        <small class="text-muted">Sales: 75%</small>
                                        <div class="progress my-2" style="height:3px;">
                                            <div class="progress-bar bg-primary" style="width: 45%"></div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <small class="text-muted">Referral: 25%</small>
                                        <div class="progress my-2" style="height:3px;">
                                            <div class="progress-bar bg-warning" style="width: 35%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex i-con-h-a">
                                    <span class="text-md">
                                        <span data-plugin="countTo" data-option="{
									from: 5,
								    to: 85,
								    refreshInterval: 1,
								    speed: 1000,
								    formatter: function (value, options) {
								      return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
								    }
								    }"></span>
                                        %
                                    </span>
                                    <span class="mx-2 mt-1">
                                        <i class="i-con i-con-trending-up text-success"><i></i></i>
                                        <small class="mx-1 text-muted">5% up</small>
                                    </span>
                                </div>
                                <div class="text-muted text-sm">From the last month</div>
                            </div>
                            <div style="height: 168px">
                                <canvas data-plugin="chartjs" id="chart-line-4"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-8 col-xl-9">
                <div class="block px-4 py-3">
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <div class="d-flex align-items-center i-con-h-a my-1">
                                <div>
                                    <span class="avatar w-40 b-a b-2x">
                                        <i class="i-con i-con-comment b-2x text-primary"><i></i></i>
                                    </span>
                                </div>
                                <div class="mx-3">
                                    <a href="app.message.html" class="d-block ajax"><strong>60</strong></a>
                                    <small class="text-muted">Messages</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="d-flex align-items-center i-con-h-a my-1">
                                <div>
                                    <span class="avatar w-40 b-a b-2x">
                                        <i class="i-con i-con-history b-2x text-success"><i></i></i>
                                    </span>
                                </div>
                                <div class="mx-3">
                                    <a href="app.calendar.html" class="d-block ajax"><strong>12:20</strong></a>
                                    <small class="text-muted">Task</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="d-flex align-items-center i-con-h-a my-1">
                                <div>
                                    <span class="avatar w-40 b-a b-2x">
                                        <i class="i-con i-con-users b-2x text-warning"><i></i></i>
                                    </span>
                                </div>
                                <div class="mx-3">
                                    <a href="app.user.html" class="d-block ajax"><strong>5,050</strong></a>
                                    <small class="text-muted">Users</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="d-flex align-items-center i-con-h-a my-1">
                                <div>
                                    <span class="avatar w-40 b-a b-2x">
                                        <i class="i-con i-con-mail b-2x text-danger"><i></i></i>
                                    </span>
                                </div>
                                <div class="mx-3">
                                    <a href="app.mail.html" class="d-block ajax"><strong>302</strong></a>
                                    <small class="text-muted">Mails</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-sm">
                    <div class="col-md-8">
                        <div class="card p-4">
                            <div class="pb-4">
                                <div class="d-flex mb-3">
                                    <span class="text-md">Marketing</span>
                                    <span class="flex"></span>
                                    <label class="ui-switch mt-1">
                                        <input type="checkbox" checked>
                                        <i></i>
                                    </label>
                                </div>
                                <div class="d-flex">
                                    <div class="i-con-h-a">
                                        <small class="text-muted">This Week</small>
                                        <div class="mt-1">
                                            <span class="text-primary text-md">$32,000</span>
                                            <i class="i-con i-con-trending-up text-success"><i></i></i>
                                            <small class="mx-1 text-muted">+5%</small>
                                        </div>
                                    </div>
                                    <div class="i-con-h-a mx-3">
                                        <small class="text-muted">Last Week</small>
                                        <div class="mt-1">
                                            <span class="text-muted text-md">$25,000</span>
                                            <i class="i-con i-con-trending-down text-danger"><i></i></i>
                                            <small class="mx-1 text-muted">-10%</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 266px">
                                <canvas data-plugin="chartjs" id="chart-line-5"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-success--lt p-4">
                            <div>
                                <span class="text-fade">Online sells</span>
                                <div class="_300">$5,000</div>
                            </div>
                            <div style="height: 60px">
                                <canvas data-plugin="chartjs" id="chart-line-6"></canvas>
                            </div>
                        </div>
                        <div class="card">
                            <div class="p-4">
                                <p><strong>Trending</strong></p>
                                <div class="easypiechart" data-plugin="easyPieChart" data-option="{barColor: theme.color.primary}" data-percent="75" data-line-width="3" data-size="110" data-scale-length="0" data-line-cap="square">
                                    <div>
                                        <span class="text-primary text-md">75%</span>
                                        <small class="text-muted">Trending up</small>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <div class="row">
                                    <div class="col">
                                        <div>$6,000</div>
                                        <small class="text-muted">Target</small>
                                    </div>
                                    <div class="col">
                                        <div>$2,500</div>
                                        <small class="text-muted">Last Month</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="p-4 b-b d-flex">
                        <strong>World sells</strong>
                        <span class="flex"></span>
                        <div><span class="badge badge-pill bg-success mx-2">48</span></div>
                        <span class="text-muted">countries</span>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-sm-6">
                            <div class="p-4">
                                <div id="jqvmap-world" data-plugin="vectorMap" style="height: 240px">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 p-4">
                            <div class="">
                                <div class="d-flex my-4">
                                    <div class="peity" data-plugin="peity" data-tooltip="true" data-title="Profile" data-option="
		                'donut',
		                {
		                  height: 40,
		                  width: 40,
		                  padding: 0.2,
		                  fill: [theme.color.primary, 'rgba(120, 130, 140, 0.1)']
		                }">
                                        20,80
                                    </div>
                                    <div class="mx-3">
                                        <small class="text-muted d-block mb-1">
                                            North America
                                        </small>
                                        <small class="text-primary">35%</small>
                                    </div>
                                </div>
                                <div class="d-flex my-4">
                                    <div class="peity" data-plugin="peity" data-tooltip="true" data-title="Profile" data-option="
		                'donut',
		                {
		                  height: 40,
		                  width: 40,
		                  padding: 0.2,
		                  fill: [theme.color.success, 'rgba(120, 130, 140, 0.1)']
		                }">
                                        10,90
                                    </div>
                                    <div class="mx-3">
                                        <small class="text-muted d-block mb-1">
                                            Europe
                                        </small>
                                        <small class="text-success">10%</small>
                                    </div>
                                </div>
                                <div class="d-flex my-4">
                                    <div class="peity" data-plugin="peity" data-tooltip="true" data-title="Profile" data-option="
		                'donut',
		                {
		                  height: 40,
		                  width: 40,
		                  padding: 0.2,
		                  fill: [theme.color.warning, 'rgba(120, 130, 140, 0.1)']
		                }">
                                        30,70
                                    </div>
                                    <div class="mx-3">
                                        <small class="text-muted d-block mb-1">
                                            Asia
                                        </small>
                                        <small class="text-waring">30%</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 b-l p-0">
                            <div class="p-4 text-center b-b">
                                <h3 class="m-0">Europe</h3>
                            </div>
                            <div class="p-4 row text-center">
                                <div class="col b-r">
                                    530
                                    <div class="text-muted text-sm">Cities</div>
                                </div>
                                <div class="col">
                                    54,040
                                    <div class="text-muted text-sm">Population</div>
                                </div>
                            </div>
                            <div class="p-4 text-center text-center">
                                <span class="text-md text-primary">45%</span>
                                <div class="text-muted text-sm">Profit</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="p-4">
                        <strong>Activity feed</strong>
                        <span class="badge bg-primary badge-pill ml-2">6</span>
                    </div>
                    <div class="b-t" id="feed-1">
                        <div class="card-header d-flex">
                            <a href="#"><img src="/content/admin/assets/img/a9.jpg" class="avatar w-40"></a>
                            <div class="mx-3">
                                <a href="#">Garrett Winters</a>
                                <div class="text-muted text-sm">2 days ago</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-text mb-3">
                                <p>Venenatis turpis tellus eu sit amet, libero elementum, in habitant non interdum enim consequat maecenas</p>
                            </div> 
                            <div class="row row-xs">
                                <div class="col-4">
                                    <div class="media media-4x3 r">
                                        <a class="media-content" style="        background-image: url(/content/admin/assets/img/b1.jpg);"></a>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="media media-4x3 r">
                                        <a class="media-content" style="        background-image: url(/content/admin/ssets/img/b6.jpg);"></a>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="media media-4x3 r">
                                        <a class="media-content" style="        background-image: url(/content/admin/assets/img/b13.jpg);"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body d-flex b-t">
                            <a href="#"><img src="/content/admin/assets/img/a4.jpg" class="avatar w-40"></a>
                            <div class="mx-3 flex">
                                <div class="mb-3">
                                    <a href="#">Garrett Winters</a>
                                    <div class="text-muted text-sm">3:00 pm</div>
                                </div>
                                <div class="card-text">
                                    <p>Nunc proin massa ipsum morbi neque, elementum tempor sodales dignissim aliquam, sed vel quis at sit pellentesque consequat nunc eu</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body d-flex b-t">
                            <a href="#"><img src="/content/admin/assets/img/a3.jpg" class="avatar w-40"></a>
                            <div class="mx-3 flex">
                                <div class="mb-3">
                                    <a href="#">Garrett Winters</a>
                                    <div class="text-muted text-sm">6:50 pm</div>
                                </div>

                                <div class="row row-xs">
                                    <div class="col-12">
                                        <div class="media media-2x1 r">
                                            <a class="media-content" style="        background-image: url(/content/admin/assets/img/b18.jpg);"></a>
                                            <div class="media-action active">
                                                <a href="#" class="d-inline-block p-3 i-con-h-a text-white">
                                                    <i class="i-con i-con-play">
                                                        <i class="w-40 i-con-circle-animate">
                                                            <span></span>
                                                        </i>
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 

                            </div>
                        </div>
                        <div class="p-3 b-t">
                            <div class="toolbar toolbar-mx">
                                <a href="#" class="text-muted">
                                    321 Likes
                                </a>
                                <a href="#feed-form-1" class="text-muted" data-toggle="collapse">
                                    56 Comments
                                </a>
                                <a href="#" class="text-muted i-con-h-a">
                                    <i class="i-con i-con-share"><i></i></i>
                                    Share
                                </a>
                            </div>
                        </div>
                        <div class="p-3 b-t collapse " id="feed-form-1">
                            <form>
                                <textarea class="form-control" rows="3"></textarea>
                                <div class="d-flex pt-2">
                                    <div class="toolbar mt-1">
                                        <a href="#" class="text-muted mx-1 i-con-h-a"><i class="i-con i-con-photo"><i></i></i></a>
                                        <a href="#" class="text-muted mx-1 i-con-h-a"><i class="i-con i-con-video"><i></i></i></a>
                                        <a href="#" class="text-muted mx-1 i-con-h-a"><i class="i-con i-con-pin"><i></i></i></a>
                                        <a href="#" class="text-muted mx-1 i-con-h-a"><i class="i-con i-con-attachment"><i></i></i></a>
                                        <a href="#" class="text-muted mx-1 i-con-h-a"><i class="i-con i-con-smile"><i></i></i></a>
                                    </div>
                                    <span class="flex"></span>
                                    <button class="btn btn-sm btn-primary">Post</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="list list-grouped text-center">
                    <div class="list-item list-hover-overlay i-con-h-a block">
                        <div class="media">
                            <div class="media-content" style="        background-image: url(/content/admin/assets/img/b10.jpg);"></div>
                        </div>
                        <div class="list-content p-0">
                            <div class="list-body">
                                <div class="p-3 b-b">
                                    Monday
                                </div>
                                <div class="py-4">
                                    <div class="i-con-h-a mb-4">
                                        <i class="i-con i-con-rain w-40 b-2x"><i></i></i>
                                    </div>
                                    <div class="mb-4">+9 <sup>&deg;</sup></div>
                                    <div class="text-muted">Rainy day</div>
                                </div>
                                <div class="p-3 b-t">21 May</div>
                            </div>
                        </div>
                    </div>
                    <div class="list-item list-overlay block">
                        <div class="media">
                            <div class="media-content" style="        background-image: url(/content/admin/assets/img/b11.jpg);"></div>
                        </div>
                        <div class="list-content p-0">
                            <div class="list-body">
                                <div class="p-3 b-b">
                                    Tuesday
                                </div>
                                <div class="py-4">
                                    <div class="i-con-h-a active mb-4">
                                        <i class="i-con i-con-clear-day w-40 b-2x text-warning"><i></i></i>
                                    </div>
                                    <div class="mb-4">+10 <sup>&deg;</sup></div>
                                    <div class="text-muted">Sunny day</div>
                                </div>
                                <div class="p-3 b-t">22 May</div>
                            </div>
                        </div>
                    </div>
                    <div class="list-item list-hover-overlay i-con-h-a block">
                        <div class="media">
                            <div class="media-content" style="        background-image: url(/content/admin/assets/img/b12.jpg);"></div>
                        </div>
                        <div class="list-content p-0">
                            <div class="list-body">
                                <div class="p-3 b-b">
                                    Wednesday
                                </div>
                                <div class="py-4">
                                    <div class="i-con-h-a mb-4">
                                        <i class="i-con i-con-snow w-40 b-2x"><i></i></i>
                                    </div>
                                    <div class="mb-4">-6 <sup>&deg;</sup></div>
                                    <div class="text-muted">Snow day</div>
                                </div>
                                <div class="p-3 b-t">
                                    23 May
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="p-4 b-b">
                        <strong>Projects</strong>
                        <span class="badge text-info badge-outline ml-2">5</span>
                    </div>
                    <table class="table table-theme v-middle m-0">
                        <thead class="text-muted">
                            <tr>
                                <th>#</th>
                                <th>Owner</th>
                                <th>Project</th>
                                <th>Tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class=" v-middle" data-id="15"> 
                                <td>
                                    <a href="#" data-toggle-class>
                                        <i class="i-con i-con-bookmark active-solid text-muted active-primary"><i><i></i></i></i>
                                    </a>
                                </td> 
                                <td>
                                    <a href="#">
                                        <span class="w-28 avatar circle bg-success-lt">
                                            G
                                        </span>
                                    </a>
                                </td>

                                <td class="flex">
                                    <a href="#" class="item-title text-color h-1x">There is a problem with your payment</a>

                                    <div class="item-except text-muted h-1x">
                                        You don’t have to switch tools to review code, share input on projects, or open up the conversation to the rest of your team.
                                    </div> 
                                </td>

                                <td>
                                    <span class="item-amount text-sm ">
                                        240
                                    </span>
                                </td> 
                            </tr>
                            <tr class=" v-middle" data-id="2"> 
                                <td>
                                    <a href="#" data-toggle-class>
                                        <i class="i-con i-con-bookmark active-solid text-muted active-primary"><i><i></i></i></i>
                                    </a>
                                </td> 
                                <td>
                                    <a href="#">
                                        <span class="w-28 avatar circle bg-primary-lt">
                                            <img src="/content/admin/assets/img/a2.jpg" alt=".">
                                        </span>
                                    </a>
                                </td>

                                <td class="flex">
                                    <a href="#" class="item-title text-color h-1x">Android game app protype design</a>

                                    <div class="item-except text-muted h-1x">
                                        <a href='#'>@@James</a> Hey bro, I need to work on a new fashion website, Can you point me to a good design website for free stock img?
                                    </div> 
                                </td>

                                <td>
                                    <span class="item-amount text-sm ">
                                        10
                                    </span>
                                </td> 
                            </tr>
                            <tr class=" v-middle" data-id="12"> 
                                <td>
                                    <a href="#" data-toggle-class>
                                        <i class="i-con i-con-bookmark active-solid text-muted active-primary"><i><i></i></i></i>
                                    </a>
                                </td> 
                                <td>
                                    <a href="#">
                                        <span class="w-28 avatar circle bg-info-lt">
                                            D
                                        </span>
                                    </a>
                                </td>

                                <td class="flex">
                                    <a href="#" class="item-title text-color h-1x">Lesson summary</a>

                                    <div class="item-except text-muted h-1x">
                                        Your teammates shouldn’t have to think too hard about what a thumbs up emoji means.
                                    </div> 
                                </td>

                                <td>
                                    <span class="item-amount text-sm ">
                                        14
                                    </span>
                                </td> 
                            </tr>
                            <tr class=" v-middle" data-id="1"> 
                                <td>
                                    <a href="#" data-toggle-class>
                                        <i class="i-con i-con-bookmark active-solid text-muted active-primary"><i><i></i></i></i>
                                    </a>
                                </td> 
                                <td>
                                    <a href="#">
                                        <span class="w-28 avatar circle bg-primary-lt">
                                            <img src="/content/admin/assets/img/a1.jpg" alt=".">
                                        </span>
                                    </a>
                                </td> 
                                <td class="flex">
                                    <a href="#" class="item-title text-color h-1x">IOS application mockup design</a>

                                    <div class="item-except text-muted h-1x">
                                        I'm working on a really amazing project right now, <a href='#'>@@samsoe</a> said so, <a href='#'>Here is a little tease</a>
                                    </div>  
                                <td>
                                    <span class="item-amount text-sm ">
                                        210
                                    </span>
                                </td> 
                            </tr>
                            <tr class=" v-middle" data-id="8"> 
                                <td>
                                    <a href="#" data-toggle-class>
                                        <i class="i-con i-con-bookmark active-solid text-muted active-primary"><i><i></i></i></i>
                                    </a>
                                </td> 
                                <td>
                                    <a href="#">
                                        <span class="w-28 avatar circle bg-success-lt">
                                            <img src="/content/admin/assets/img/a8.jpg" alt=".">
                                        </span>
                                    </a>
                                </td>

                                <td class="flex">
                                    <a href="#" class="item-title text-color h-1x">Windows software development</a>

                                    <div class="item-except text-muted h-1x">
                                        It's been a Javascript kind of day...
                                    </div> 
                                </td>

                                <td>
                                    <span class="item-amount text-sm ">
                                        220
                                    </span>
                                </td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>