
@{
    ViewBag.Title = "Blog";
}
<div class="breadcrumb d-flex bg-white mt-3 mb-3">
    <div class="container-2">
        <ul class="list-unstyled d-flex mb-0">
            <li class="bread-item"><a href="/home">Home</a></li>
            <li class="bread-item"><a href="#" class="active">@ViewBag.Title</a></li>
        </ul>
    </div>
</div>
<div class="page-title p-md-4 p-3">
    <h1 class="Rockwell-45 text-black-title bold">Blog</h1>
</div>
<div class="m-md-4 mt-3 mb-3 pl-2 pr-2">
    <div class="container-2">
        <div class="row">
            <div class="col-md-3 ml-auto">
                <select name="" class="form-control form-control-lg rounded-0" id="">
                    <option>Sort by</option>
                </select>
            </div>
            <div class="col-md-3 ">
                <div class="input-group ">
                    <input type="text" class="form-control form-control-lg rounded-0" placeholder="Find my">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-primary rounded-0"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blogs container-2">
    <div class="row">
        <div class="col-md-4">
            <div class="blog-border">
                <div class="blog-img">
                    <img src="~/assets/images/blog.png" class="img-fluid" alt="">
                </div>
                <div class="blog-description">
                    <h5 class="Segoe-23 text-black-title semi-bold">Mobile unlocking carriers</h5>
                    <p class="Segoe-16 text-grey">Unlock your iPhone 12 Pro Max to use  any network / carrier SIM card. </p>
                </div>
                <div class="blog-footer">
                    <p class="Segoe-16 text-grey">By MU Blogger - 20/05/20 09:27</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="blog-border">
                <div class="blog-img">
                    <img src="~/assets/images/blog.png" class="img-fluid" alt="">
                </div>
                <div class="blog-description">
                    <h5 class="Segoe-23 text-black-title semi-bold">Unlock the phone </h5>
                    <p class="Segoe-16 text-grey"> Unlock your iPhone 12 Pro Max to use  any network / carrier SIM card. </p>
                </div>
                <div class="blog-footer">
                    <p class="Segoe-16 text-grey">By MU Blogger - 20/05/20 09:27</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="blog-border">
                <div class="blog-img">
                    <img src="~/assets/images/blog.png" class="img-fluid" alt="">
                </div>
                <div class="blog-description">
                    <h5 class="Segoe-23 text-black-title semi-bold">Choosing the right carrier</h5>
                    <p class="Segoe-16 text-grey">Unlock your iPhone 12 Pro Max to use  any network / carrier SIM card. </p>
                </div>
                <div class="blog-footer">
                    <p class="Segoe-16 text-grey">By MU Blogger - 20/05/20 09:27</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="blog-border">
                <div class="blog-img">
                    <img src="~/assets/images/blog.png" class="img-fluid" alt="">
                </div>
                <div class="blog-description">
                    <h5 class="Segoe-23 text-black-title semi-bold">Choosing the right carrier</h5>
                    <p class="Segoe-16 text-grey">Unlock your iPhone 12 Pro Max to use  any network / carrier SIM card. </p>
                </div>
                <div class="blog-footer">
                    <p class="Segoe-16 text-grey">By MU Blogger - 20/05/20 09:27</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="blog-border">
                <div class="blog-img">
                    <img src="~/assets/images/blog.png" class="img-fluid" alt="">
                </div>
                <div class="blog-description">
                    <h5 class="Segoe-23 text-black-title semi-bold">Choosing the right carrier</h5>
                    <p class="Segoe-16 text-grey">Unlock your iPhone 12 Pro Max to use  any network / carrier SIM card. </p>
                </div>
                <div class="blog-footer">
                    <p class="Segoe-16 text-grey">By MU Blogger - 20/05/20 09:27</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="blog-border">
                <div class="blog-img">
                    <img src="~/assets/images/blog.png" class="img-fluid" alt="">
                </div>
                <div class="blog-description">
                    <h5 class="Segoe-23 text-black-title semi-bold">Choosing the right carrier</h5>
                    <p class="Segoe-16 text-grey">Unlock your iPhone 12 Pro Max to use  any network / carrier SIM card. </p>
                </div>
                <div class="blog-footer">
                    <p class="Segoe-16 text-grey">By MU Blogger - 20/05/20 09:27</p>
                </div>
            </div>
        </div>
    </div>
</div>
