
@{
    ViewBag.Title = "Payment Successfull";
}
<div class="breadcrumb d-flex bg-white mt-3 mb-3">
    <div class="container-2">
        <ul class="list-unstyled d-flex mb-0">
            <li class="bread-item"><a href="/home">Home</a></li>
            <li class="bread-item"><a href="#" class="active">@ViewBag.Title</a></li>
        </ul>
    </div>
</div>
<div class="page-title p-md-4 p-3">
    <h1 class="Rockwell-45 text-black-title bold">Payment Successful</h1>
</div>
<div class="p-3">
    <h4 class="text-center Segoe-20 semi-bold">Thank You for your order</h4>
    <p class="text-center Segoe-17">
        Your Mobile Unlock order is now being processed with our team. You should receive your confirmation and
        tracking information shortly by email
    </p>
</div>
<div class="container-2 mt-3 mb-2">
    <div class="payment-border-box w-100">
        <div class="padding-20">
            <h4 class="Segoe-20 semi-bold d-inline-block">Order Summary</h4> <h4 class="float-right Segoe-20 semi-bold">Order Ref: 123455</h4>
            <br>
            <p class="d-inline-block Segoe-18 semi-bold mb-0">Product</p>
            <p class="d-inline-block float-right Segoe-18 semi-bold mb-0">Subtotal</p>
            <hr>
            <p class="Segoe-16 semi-bold d-inline-block">Phone</p> <h4 class="float-right">$5</h4>
            <p class="Segoe-12 semi-bold">IMEI Number:</p>
            <p class="Segoe-12  ">867679045364105</p>
            <p class="Segoe-12 semi-bold">Service Type:</p>
            <p class="Segoe-12  ">Standard Service</p>
            <p class="Segoe-12 semi-bold">Average Delivery Time:</p>
            <p class="Segoe-12 ">1-24 Hours</p>

        </div>
        <div class="bg-lightgrey">
            <div class="padding-20">
                <p class="d-inline-block Segoe-12 mb-0">Average Delivery Time</p>
                <p class="d-inline-block Segoe-12 mb-0 float-right">1-24 hours</p>
                <hr>
                <h4 class="Segoe-16 semi-bold d-inline-block">VAT</h4> <h4 class="float-right Segoe-16">$1</h4>
                <br>
                <h4 class="Segoe-16 semi-bold d-inline-block">Total</h4>
                <input type="text" class="float-right Totalinput" value="$6" placeholder="$6">
            </div>
        </div>
    </div>
</div>
<div class="mb-3 p-2 text-center">
    <p class="Segoe-20"> Please note this transection may appear as Intercom LTD on your statement</p>
</div>