
@{
    ViewBag.Title = "Privacy Policy";
}

<div class="breadcrumb d-flex bg-white mt-3 mb-3">
    <div class="container-2">
        <ul class="list-unstyled d-flex mb-0">
            <li class="bread-item"><a href="/home">Home</a></li>
            <li class="bread-item"><a href="#" class="active">@ViewBag.Title</a></li>
        </ul>
    </div>
</div>
<div class="page-title p-md-4 p-3">
    <h1 class="Rockwell-45 text-black-title bold">@ViewBag.Title</h1>
</div>
<div class="container mt-4 mb-3">
    <p class="Segoe-20 color-blue bold">Last Update published on the 11th July 2020</p>
    <p class="Segoe-16">This website is operated by Veeunlock.com. We take your privacy very seriously and want to explain to you how Veeunlock.com obtains and processes personal data to help you understand in a clear and transparent way how we collect, use, and share information about you, and give you the opportunity to decide how your data is handled.</p>
    <ul class="pl-0">
        <li>
            <h4 class="Segoe-18 color-blue">Who are we?</h4>
            <p>
                Refunds will be given if an unlock has not been delivered within 30 days and has not already been rejected for any reason. You cannot cancel prior to the 30-day window as our contract with our suppliers is 30 days and we incur costs as soon as the unlock is submitted.

            </p>
        </li>
        <li>
            <h4 class="Segoe-18 color-blue">For whom is this Privacy Policy intended?</h4>
            <p>
                This Privacy Policy is intended for the following Veeunlock.com users:
            </p>
            <ul type="i">
                <li>Users of Veeunlock.com SERVICES, (for example, phone unlocking services and IMEI checks).</li>
                <li>Users browsing the Veeunlock.com website searching for products and services that interest them, looking for the best deals or comparing current market prices.</li>
                <li>Veeunlock.com users that provide personal information by completing an online form.</li>
            </ul>
        </li>
        <li>
            <h4 class="Segoe-18 color-blue">What data do we collect?</h4>
            <p>
                Veeunlock.com can obtain data from its users coming from:
            </p>
            <ul type="i">
                <li>Information requested using our online checkout form, basically, identifying data related to your phone (including, but not limited to, the IMEI number or original operator) and the SERVICE you are interested in purchasing.</li>
                <li>Information through interactions with the Veeunlock.com website (such as purchases, phone unlocking, phone checks, refunds, questions or comments) related to Veeunlock.com’s SERVICES.</li>
                <li>Contact information provided to Veeunlock.com through different communication channels, or information requests regarding a SERVICE.</li>
                <li>Browsing data obtained from our website which is used for technical purposes, performance enhancements and for analysing commercial transactions.</li>
            </ul>
        </li>
        <li>
            <h4 class="Segoe-18 color-blue">How do we use your personal information?</h4>
            <p>
                We may use the information when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
            </p>
            <ul type="i">
                <li>To personalise user's experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
                <li>To improve our website in order to better serve you.</li>
                <li>To allow us to better service you in responding to your customer service requests.</li>
                <li>To quickly process your transactions.</li>
                <li>To follow up with them after correspondence (live chat, email or phone inquiries).</li>
            </ul>
        </li>
        <li>
            <h4 class="Segoe-18 color-blue">Do you share my personal data with third parties?</h4>
            <p>
                We may share your personal data with specific providers when necessary for the fulfilment of the SERVICE, to unlock a device, to deliver items purchased through Veeunlock.com, or to process your complaints and disputes related to the service.
            </p>
            <p>Please note that Veeunlock.com offers a wide variety of online payment methods, operating at all times within a safe and 3D secure environment to minimise possible fraud.</p>
        </li>
        <li>
            <h4 class="Segoe-18 color-blue">How do we protect visitor information?</h4>
            <p>
                Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.
            </p>
            <p>We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.</p>
            <p>All transactions are processed through a payment gateway provider and are not stored or processed on our servers.</p>
        </li>
        <li>
            <h4 class="Segoe-18 color-blue">Can I receive promotional materials from Veeunlock.com?</h4>
            <p>
                We would like to provide you with regular updates and inform you of any additional SERVICES, however, we guarantee you can opt out immediately from any e-mails you receive from Veeunlock.com by contacting support@veeunlock.com.
            </p>
        </li>
        <li>
            <h4 class="Segoe-18 color-blue">What are my rights regarding personal data?</h4>
            <p>
                Under the general data protection regulation, you have a number of important rights.
            </p>
            <p>The rights you have with regards to your personal information are as follows:</p>
            <ul type="i">
                <li>The right to request access to and obtain free of charge any personal information we have stored on you and to use for your own purposes.</li>
                <li>The right to update any personal information which is incorrect or incomplete.</li>
                <li>The right to ask us to delete all personal information on you from our records.</li>
                <li>The right to object to the processing of your personal data in certain circumstances.</li>
                <li>You have the right to withdraw your consent at any time.</li>
                <li>You have the right to restrict the processing of your personal data in certain circumstances.</li>
                <li>The right to request that your personal information is sent to another company, institution, organization or yourself.</li>

            </ul>
            <p>For further information on each of those rights, including the circumstances in which they apply, see the guidance from the UK Information Commissioner’s Office (ICO) on individuals’ rights under the General Data Protection Regulations.</p>
        </li>

        <li>
            <h4 class="Segoe-18 color-blue">How can I exercise my rights?</h4>
            <p>
                You can exercise each and every one of your rights by contacting us:
            </p>
            <p>By sending an e-mail to support@veeunlock.com with “Data Protection Rights” in the subject header.</p>
        </li>
        <li>
            <h4 class="Segoe-18 color-blue">Do we use 'cookies'?</h4>
            <p>
                Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.
            </p>
            <p>We use cookies to:</p>
            <ul type="i">
                <li>Help remember and process the items in the shopping cart.</li>
                <li>Understand and save user's preferences for future visits.</li>
                <li>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.</li>
            </ul>
            <p>If users disable cookies in their browser:</p>
            <p>If you disable cookies off, some features will be disabled It will turn off some of the features that make your site experience more efficient and some of our services will not function properly.</p>
        </li>
        <li>
            <h4 class="Segoe-18 color-blue">Can the Privacy Policy change?</h4>
            <p>
                The Privacy Policy may change in the future, for example, due to regulatory changes or changes to how Veeunlock.com operates its business. You should check this policy occasionally to ensure you are aware of the most recent version that will apply each time you access this website.
            </p>
        </li>
         
    </ul>
</div>