
@{
    ViewBag.Title = "Terms & Conditions";
}

<div class="breadcrumb d-flex bg-white mt-3 mb-3">
    <div class="container-2">
        <ul class="list-unstyled d-flex mb-0">
            <li class="bread-item"><a href="/home">Home</a></li>
            <li class="bread-item"><a href="#" class="active">@ViewBag.Title</a></li>
        </ul>
    </div>
</div>
<div class="page-title p-md-4 p-3">
    <h1 class="Rockwell-45 text-black-title bold">@ViewBag.Title</h1>
</div>

<div class="container mt-4">
    <p class="text-uppercase">BY USING THIS SITE, YOU AGREE TO THESE TERMS OF USE; IF YOU DO NOT AGREE, DO NOT USE THE SITE.</p>
    <p>Our pre-order unlock service, is a service where you are placed on a mailing list which ensures keenest price of unlock from our service providers and allows us to check that the device has not been blacklisted. The pre-order charge will be offset against the final unlocking amount which may exceed the pre-order charge depending on the carrier/contract status of the device. If the device returns as blocked due to unpaid bills an additional fee will be required by the carrier to clear the balance in order to complete the unlock. An email notification will be sent to you as soon as the unlock is available to release. This is a specialist service, benefiting from discounted rates and faster unlocking times through submission of bulk unlocks.</p>
    <p>Our standard unlock service is for original device owners who are able to provide the original mobile number associated with the device, this is a one-off payment with standard unlocking times set by the network provider.</p>
    <ul class=" ">
        <li>
            <h4 class="Segoe-18 color-blue">Our Service.</h4>
            <ul class="1">
                <li>The services provided on the Veeunlock.com allow the user to remove the network lock from their mobile phone via IMEI number. All our services include customer support via email during office hours.</li>
                <li>Once full payment has been received from a customer our service of providing an unlock solution begins. At the point of order placement our timeframes are calculated and given as a guideline.</li>
                <li>Once the unlocking process is complete an email will be sent to the email address provided to notify the customer. The email will also provide the exact instructions for completing the unlocking process.</li>
            </ul>
        </li>
        <li>
            <h4 class="Segoe-18 color-blue">Refunds.</h4>
            <ul>
                <li>Refunds will be given if an unlock has not been delivered within 30 days and has not already been rejected for any reason. You cannot cancel prior to the 30-day window as our contract with our suppliers is 30 days and we incur costs as soon as the unlock is submitted.</li>
                <li>If you have placed a standard order with us and the device has contract issues then the unlock may not be released until the contract expires, generally after 6 months of network service. This is highlighted and agreed to along with our terms and conditions at the point of purchase. Please note that we incur considerable costs as soon as an order is submitted.</li>
                <li>Veeunlock.com will not refund an order that has been submitted for unlocking and is being processed. We incur the cost of unlocking from the carrier immediately once we submit your unlock to them.</li>
                <li>Some devices will have a set amount of input attempts; we will not refund if this has been breached.</li>
                <li>It is up to the customer to ensure the correct input of the phone's information and customer information when purchasing. The IMEI entered into the site must be found on the phone by dialing *#06#. If the IMEI, mobile number or network provided is later found to be submitted incorrectly by the customer then a refund will not be provided and the unlock request will come back “Blocked”.</li>
                <li>If an order is made with Veeunlock.com and an unlock is sent to you; you the customer must provide us with proof that the unlock has failed to unlock your device, the device is still locked and provide full details of the procedure you took. Only then will a refund be issued.</li>
                <li>If your phone was already unlocked before you purchased an unlocking service, that will not be considered grounds for a refund.</li>
                <li>Refunds are not issued for a device that is locked to a corporate account as highlighted at the point of purchase.</li>
                <li>If your device has an iCloud activation lock and you cannot activate it, you must remove the iCloud account by contacting the owner of the device or purchasing an iCloud removal from us or another provider. We will not provide a refund where we have completed a sim unlock which you are unable to use due to an Activation Lock.</li>
            </ul>
        </li>
        <li>
            <h4 class="Segoe-18 color-blue">Buyer Requirements</h4>
            <ul>
                <li>Customers must ensure that they check the compatibility of their handset with the network they intend to use once unlocked.</li>
                <li>It is the customer's responsibility to ensure that they have read the information on this website.</li>
                <li>Black listed / stolen / lost phones / contract issues / incorrect network provided (also known as Blocked) - The term black listed covers phones that are not paid off, lost, stolen, insurance claimed etc. It is the customer's responsibility to check whether the device is black listed. Lost, stolen and abused handsets are barred/blocked once reported and cannot be used inside the country it was blocked in on any major networks. If we undertake an unlock and find the phone has been marked Blocked and is in fact logged as either lost, stolen, abused, bad ESN and/or contract issues, we cannot refund your payment.</li>
                <li>Certain networks may be subject to an additional charge and or require the phone to be 6 months old before unlocking. As this is an automated process and the device has already been submitted for unlock, this will remain in queue and the unlock will be released for the device upon expiry of the 6-month contract.</li>
                <li>Prior to unlocking your phone, it is the customer's responsibility to make sure that their Contacts, Messages and any other important data is properly backed up and synced prior to attempting any unlocking procedure. We will not accept responsibility for the loss of customer data for any reason.</li>
                <li>Unlocking your Phone is 100% legal in the Europe, America and many other regions. Some laws may vary and it is down to the buyer to comply with local laws when unlocking their device.</li>
                <li>In some circumstances we may require additional information about the device being unlocked.</li>
                <li>If an unlock is being processed by us the user may not attempt to obtain an unlock by any other method. This could lead to the device breaching the maximum number of unlock requests.</li>
                <li>Any issues with services provided by Veeunlock.com MUST first be reported to us via the given support channels (email/helpdesk) We then request 7 days to satisfy any such issues.</li>
            </ul>
        </li>
        <li>
            <h4 class="Segoe-18 color-blue">Delivery Times and Service.</h4>
            <ul>
                <li>We reserve the right to change any information on the website including prices and delivery times at any time which are set by ourselves and the relative networks. If your unlock is in progress we will inform you immediately of any changes.</li>
                <li>All estimated delivery times are calculated using business days.</li>
                <li>We will endeavour to beat these delivery times but sometimes delays do occur with the network server. In the event of a significant delay, we would refund after 30 days.</li>
            </ul>
        </li>
        <li>
            <h4 class="Segoe-18 color-blue">Fraud Protection</h4>
            <ul>
                <li>We reserve the right to refuse any order that appears to be suspicious or that proves to be fraudulent.</li>
            </ul>
        </li>
    </ul>
    <div class="mt-3 mb-3">
        <p class="text-center Segoe-20 bold color-blue">Veeunlock.com reserve the right to amend these terms and conditions at any given time. All changes made will reload on the website at Veeunlock.com. Therefore, the buyer is responsible to read the terms and conditions on every occasion you visit Veeunlock.com. Your use of the website will signify your acceptance to be bound by the latest terms of use.</p>
    </div>
</div>