
@{
    ViewBag.Title = "Unlock Phone";
}
<div class="breadcrumb d-flex bg-white mt-3 mb-3">
    <div class="container-2">
        <ul class="list-unstyled d-flex mb-0">
            <li class="bread-item"><a href="/home">Home</a></li>
            <li class="bread-item"><a href="#" class="active">@ViewBag.Title</a></li>
        </ul>
    </div>
</div>
<div class="page-title p-md-4 p-3">
    <h1 class="Rockwell-45 color-blue bold">Phone Unlocking Service</h1>
    <p class="Segoe-20 text-black text-center">At Mobile Unlocked our expert team is here to make the phone unlock process</p>
</div>
<div class="m-md-4 mt-3 mb-3 pl-2 pr-2">
    <div class="container-2">
        <div class="row">
            <div class="col-md-3 ml-auto">
                <select name="" class="form-control form-control-lg rounded-0" id="">
                    <option>Sort by</option>
                </select>
            </div>
            <div class="col-md-3 ">
                <div class="input-group ">
                    <input type="text" class="form-control form-control-lg  rounded-0" placeholder="Find my">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-primary rounded-0"><i class="fa fa-search "></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="phone-unlock-box mb-3">
    <div class="container-2">
        <div class="row">
            <div class="col-md-3  text-center">
                <div class="box">
                    <img src="~/assets/images/mobile-company-icons/Group 325.png" class="img-fluid" alt="">
                    <h5 class="Rockwell-20 bold mb-3">Apple iPhone Unlock</h5>
                </div>
            </div>
            <div class="col-md-3  text-center">
                <div class="box">
                    <img src="~/assets/images/mobile-company-icons/Group 323.png" class="img-fluid" alt="">
                    <h5 class="Rockwell-20 bold mb-3">Samsung Unlock</h5>
                </div>
            </div>
            <div class="col-md-3  text-center">
                <div class="box">
                    <img src="~/assets/images/mobile-company-icons/Group 324.png" class="img-fluid" alt="">
                    <h5 class="Rockwell-20 bold mb-3">Huawei Unlock</h5>
                </div>
            </div>
            <div class="col-md-3   text-center">
                <div class="box">
                    <img src="~/assets/images/mobile-company-icons/Group 321.png" class="img-fluid" alt="">
                    <h5 class="Rockwell-20 bold mb-3">Xiaomi Unlock</h5>
                </div>
            </div>
            <div class="col-md-3  text-center">
                <div class="box">
                    <img src="~/assets/images/mobile-company-icons/Group 320.png" class="img-fluid" alt="">
                    <h5 class="Rockwell-20 bold mb-3">Motorola Unlock</h5>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="box">
                    <img src="~/assets/images/mobile-company-icons/Group 319.png" class="img-fluid" alt="">
                    <h5 class="Rockwell-20 bold mb-3">Lenovo Unlock</h5>
                </div>
            </div>
            <div class="col-md-3   text-center">
                <div class="box">
                    <img src="~/assets/images/mobile-company-icons/Group 399.png" class="img-fluid" alt="">
                    <h5 class="Rockwell-20 bold mb-3">LG Unlock</h5>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="box">
                    <img src="~/assets/images/mobile-company-icons/Group 401.png" class="img-fluid" alt="">
                    <h5 class="Rockwell-20 bold mb-3">Sony Ericsson Unlock</h5>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="box">
                    <img src="~/assets/images/mobile-company-icons/Group 400.png" class="img-fluid" alt="">
                    <h5 class="Rockwell-20 bold mb-3">HTC Unlock</h5>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="box">
                    <img src="~/assets/images/mobile-company-icons/Group 404.png" class="img-fluid" alt="">
                    <h5 class="Rockwell-20 bold mb-3">Vodafone Unlock</h5>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="box">
                    <img src="~/assets/images/mobile-company-icons/Group 403.png" class="img-fluid" alt="">
                    <h5 class="Rockwell-20 bold mb-3">Nokia Unlock</h5>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="box">
                    <img src="~/assets/images/mobile-company-icons/Group 402.png" class="img-fluid" alt="">
                    <h5 class="Rockwell-20 bold mb-3">Toshiba Unlock</h5>
                </div>
            </div>
        </div>
    </div>
</div>